<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/css/all.css">
</head>

<body>
    <div id="app">
        <div class="container my-5">
            <div class="row justify-content-center align-items-center ">
                <div class="col-md-11 col-lg-8 px-0 px-md-5 pb-3">
                    <div class="d-flex justify-content-between mb-3">
                        <h1 class="h5 font-weight-normal fw-bold text-light  d-flex align-items-center"><span
                                class="material-icons">
                                admin_panel_settings
                            </span>Admin</h1>
                        <button
                            class="btn btn-outline-light btn-sm rounded-pill font-size-sm d-inline-flex align-items-center"
                            @click="openModal('create')">
                            <span class="material-icons font-size-sm">
                                add
                            </span>建立產品
                        </button>
                    </div>
                    <table class="adminTable table bg-white shadow-sm">
                        <thead class="bg-primary-light text-white">
                            <tr>
                                <th width="10%">
                                    分類
                                </th>
                                <th>產品名稱</th>
                                <th width="10%" class="text-end">
                                    原價
                                </th>
                                <th width="10%" class="text-end">
                                    售價
                                </th>
                                <th width="20%" class="text-center">
                                    是否啟用
                                </th>
                                <th width="20%" class="text-center">
                                    編輯
                                </th>
                            </tr>
                        </thead>
                        <tbody class="font-size-sm align-middle">
                            <tr v-for="item in productsData" :key="item.id">
                                <td>{{item.category}}</td>
                                <td>{{item.title}}</td>
                                <td class="text-end">{{item.origin_price}}</td>
                                <td class="text-end">{{item.price}}</td>
                                <td class="text-center">
                                    <span class="text-primary" v-if="item.is_enabled">啟用</span>
                                    <span class="text-secondary" v-else="item.is_enabled">未啟用</span>
                                </td>
                                <td class="text-center">
                                    <a href="#"
                                        class="adminBtn material-icons h5 text-primary rounded-circle bg-light mb-0 me-1"
                                        @click="openModal('edit', item)">
                                        edit
                                    </a>
                                    <a href="#"
                                        class="adminBtn material-icons h5 text-secondary rounded-circle bg-light mb-0"
                                        @click="openModal('delete', item)">
                                        delete
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="text-light text-center" v-if="productsData.length === 0">目前尚未有商品</p>
                </div>
            </div>
        </div>
        <div class="resMessage alert alert-light shadow rounded-pill fw-bold text-secondary text-center" role="alert"
            :class="{active: resObj.isShowReaMessage}">
            {{ resObj.resMessage }}
        </div>
        <!-- Modal -->
        <div id="productModal" ref="productModal" class="modal fade" tabindex="-1" aria-labelledby="productModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header bg-primary-light text-white border-0 px-4 px-lg-5">
                        <h5 id="productModalLabel" class="modal-title fw-bold h6 d-flex align-items-center">
                            <span class="material-icons d-inline-block me-1">
                                add_circle_outline
                            </span>
                            {{modalObj.modalTitle}}產品
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body px-4 px-lg-5 py-4">
                        <div class="row">
                            <div class="col-sm-4 mb-5 mb-xl-0">
                                <!-- 主要圖片 -->
                                <div class="mb-2">
                                    <div class="form-group mb-2">
                                        <label for="imageUrl" class="text-secondary mb-2">主要圖片</label>
                                        <input type="text"
                                            class="border-0 text-secondary border-bottom border-primary-light bg-light w-100 p-2"
                                            placeholder="請輸入圖片連結" v-model="productObj.imageUrl">
                                    </div>
                                    <img class="img-fluid" :src="productObj.imageUrl">
                                </div>
                                <!-- 多圖新增 -->
                                <div class="text-secondary mb-2">多圖新增</div>
                                <div v-for="(item, index) in productObj.imagesUrl" :key="index">
                                    <input type="text"
                                        class="border-0 text-secondary border-bottom border-primary-light bg-light w-100 p-2 mb-2"
                                        placeholder="請輸入圖片連結" v-model="productObj.imagesUrl[index]">
                                    <img class="img-fluid mb-2" :src="productObj.imagesUrl[index]">
                                </div>

                                <div class="d-block d-lg-flex text-center mb-2">
                                    <button type="button"
                                        class="btn btn-primary btn-sm rounded-pill text-white w-100 w-lg-auto me-1"
                                        @click="addImage">
                                        新增圖片
                                    </button>
                                    <button type="button"
                                        class="btn btn-secondary-light btn-sm rounded-pill text-white w-100 w-lg-auto"
                                        @click="delImage">
                                        刪除圖片
                                    </button>
                                </div>
                                <div class="d-block text-center mb-1" v-if="modalObj.imgInputIsShow">
                                    <input type="text"
                                        class="border-0 text-secondary border-bottom border-primary-light bg-light w-100 p-2 mb-2"
                                        placeholder="請輸入圖片連結"
                                        v-model="productObj.imagesUrl[productObj.imagesUrl.length -1]">
                                    <img class="img-fluid mb-2"
                                        :src="productObj.imagesUrl[productObj.imagesUrl.length -1]">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group mb-3">
                                    <label for="title" class="text-secondary mb-2">標題</label>
                                    <input id="title" type="text"
                                        class="border-0 text-secondary border-bottom border-primary-light bg-light w-100 p-2"
                                        placeholder="請輸入標題" v-model.trim="productObj.title">
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6 mb-3">
                                        <label for="category" class="text-secondary mb-2">分類</label>
                                        <input id="category" type="text"
                                            class="border-0 text-secondary border-bottom border-primary-light bg-light w-100 p-2"
                                            placeholder="請輸入分類" v-model.trim="productObj.category">
                                    </div>
                                    <div class="form-group col-md-6 mb-3">
                                        <label for="price" class="text-secondary mb-2">單位</label>
                                        <input id="unit" type="text"
                                            class="border-0 text-secondary border-bottom border-primary-light bg-light w-100 p-2"
                                            placeholder="請輸入單位" v-model.trim="productObj.unit">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6 mb-3">
                                        <label for="origin_price" class="text-secondary mb-2">原價</label>
                                        <input id="origin_price" type="number" min="0"
                                            class="border-0 text-secondary border-bottom border-primary-light bg-light w-100 p-2"
                                            placeholder="請輸入原價" v-model.number="productObj.origin_price">
                                    </div>
                                    <div class="form-group col-md-6 mb-3">
                                        <label for="price" class="text-secondary mb-2">售價</label>
                                        <input id="price" type="number" min="0"
                                            class="border-0 text-secondary border-bottom border-primary-light bg-light w-100 p-2"
                                            placeholder="請輸入售價" v-model.number="productObj.price">
                                    </div>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="description" class="text-secondary mb-2">產品描述</label>
                                    <textarea id="description" type="text"
                                        class="border-0 text-secondary border-bottom border-primary-light bg-light w-100 p-2"
                                        placeholder="請輸入產品描述" v-model.trim="productObj.description">
                                    </textarea>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="content" class="text-secondary mb-2">說明內容</label>
                                    <textarea id="description" type="text"
                                        class="border-0 text-secondary border-bottom border-primary-light bg-light w-100 p-2"
                                        placeholder="請輸入說明內容" v-model.trim="productObj.content">
                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input id="is_enabled" class="form-check-input" type="checkbox" :true-value="1"
                                            :false-value="0" v-model="productObj.is_enabled">
                                        <label class="form-check-label text-secondary" for="is_enabled">是否啟用</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer border-0 px-4 px-lg-5">
                        <button type="button" class="btn btn-outline-secondary-light btn-sm rounded-pill px-3"
                            data-bs-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-primary btn-sm rounded-pill text-white px-3"
                            @click="updateProductData">
                            確認
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="delProductModal" ref="delProductModal" class="modal fade" tabindex="-1"
            aria-labelledby="delProductModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content border-0">
                    <div class="modal-header bg-primary-light text-white border-0">
                        <h5 id="delProductModalLabel" class="modal-title fw-bold h6">
                            <span>刪除產品</span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        是否刪除
                        <strong class="text-primary">{{productObj.title}}</strong> 商品(刪除後將無法恢復)。
                    </div>
                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-outline-secondary-light btn-sm rounded-pill px-3"
                            data-bs-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-primary btn-sm rounded-pill text-white px-3"
                            @click="delProductData">
                            確認刪除
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js'
        integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=='
        crossorigin='anonymous'></script>
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let myEditModal = '';
        let myDelModal = '';

        const app = {
            data() {
                return {
                    url: 'https://vue3-course-api.hexschool.io',
                    path: 'umon752',
                    productsData: [],
                    productObj: {
                        imagesUrl: [],
                    },
                    modalObj: {
                        modalTitle: '',
                        imgInputIsShow: false
                    },
                    resObj: {
                        resMessage: '',
                        isShowReaMessage: false
                    }
                };
            },
            methods: {
                resMessage(text) {
                    // 顯示訊息
                    this.resObj.isShowReaMessage = true;
                    setTimeout(() => {
                        this.resObj.isShowReaMessage = false;
                    }, 1000);
                    this.resObj.resMessage = text;
                },
                getProductsData() {
                    const url = `${this.url}/api/${this.path}/admin/products`;
                    axios.get(url)
                        .then((res) => {
                            if (res.data.success) {
                                this.productsData = res.data.products;
                            } else {
                                // 轉址到 signIn.html
                                window.location = 'signIn.html';
                                // 顯示訊息
                                this.resMessage('尚未登入，請重新登入');
                            }
                        }).catch((error) => {
                            console.log(error);
                        });
                },
                openModal(status, item) {
                    if (status === 'delete') {
                        myDelModal.show();
                        this.productObj = {
                            ...item
                        };
                    } else if (status === 'edit') {
                        myProductModal.show();
                        this.productObj = {
                            ...item
                        };
                        this.modalObj.modalTitle = '編輯';
                    } else if (status === 'create') {
                        myProductModal.show();
                        // 清空 input 內容
                        this.productObj = {
                            imagesUrl: []
                        };
                        this.modalObj.modalTitle = '建立';
                    }
                },
                delProductData() {
                    const url = `${this.url}/api/${this.path}/admin/product/${this.productObj.id}`;
                    axios.delete(url)
                        .then((res) => {
                            if (res.data.success) {
                                // 顯示訊息
                                this.resMessage(res.data.message);
                                this.getProductsData();
                            } else {
                                // 顯示訊息
                                this.resMessage(res.data.message);
                            }
                        }).catch((error) => {
                            console.log(error);
                        });
                    myDelModal.hide();
                },
                updateProductData() {
                    if (this.modalObj.modalTitle === '編輯') {
                        const url = `${this.url}/api/${this.path}/admin/product/${this.productObj.id}`;
                        axios.put(url, {
                                data: this.productObj
                            })
                            .then((res) => {
                                if (res.data.success) {
                                    // 顯示訊息
                                    this.resMessage(res.data.message);
                                    this.getProductsData();
                                } else {
                                    // 顯示訊息
                                    this.resMessage(res.data.message);
                                }
                            }).catch((error) => {
                                console.log(error);
                            });
                    } else if (this.modalObj.modalTitle === '建立') {
                        const url = `${this.url}/api/${this.path}/admin/product`;
                        axios.post(url, {
                                data: this.productObj
                            })
                            .then((res) => {
                                if (res.data.success) {
                                    // 顯示訊息
                                    this.resMessage(res.data.message);
                                    this.getProductsData();
                                } else {
                                    // 顯示訊息
                                    this.resMessage(res.data.message);
                                }
                            }).catch((error) => {
                                console.log(error);
                            });
                    }
                    myProductModal.hide();
                },
                addImage() {
                    // productObj 內沒有 imagesUrl 則給予空陣列
                    if (!this.productObj.imagesUrl) {
                        this.productObj.imagesUrl = [];
                    }
                    // imagesUrl 陣列最後一筆資料非空字串時執行
                    if (this.productObj.imagesUrl[this.productObj.imagesUrl.length - 1] !== '') {
                        this.productObj.imagesUrl.push('');
                    }
                },
                delImage() {
                    // 刪除 imagesUrl 陣列最後一筆資料
                    this.productObj.imagesUrl.splice(this.productObj.imagesUrl.length - 1, 1);
                }
            },
            // created() 為畫面初始化
            created() {
                // 取出儲存在瀏覽器 cookie 裡面的 token 憑證
                const token = document.cookie.replace(/(?:(?:^|.*;\s*)hexToken\s*\=\s*([^;]*).*$)|^.*$/, "$1");
                axios.defaults.headers.common.Authorization = token;
                // 取得產品資料
                this.getProductsData();
            },
            // mounted() 為畫面初始化之後，重新擷取 DOM 元素
            mounted() {
                myProductModal = new bootstrap.Modal(document.querySelector('#productModal'));
                myDelModal = new bootstrap.Modal(document.querySelector('#delProductModal'));
            },
        }
        Vue.createApp(app)
            .mount('#app')
    </script>
</body>

</html>